<footer>

  {{ site.title }}/{{ page.permalink_name | replace: "/", "" | replace: " ", "-" }}
  <br><br>
  {% if site.github_username and site.github_username != "" %} :octocat: <a href="https://github.com/{{site.github_username}}">@{{ site.github_username }}</a> {% endif %}
  {% if site.mastodon_url and site.mastodon_url != "" %} <img src="{{ '/assets/mastodon_icon.png' | relative_url }}" width="16wv"> <a href="{{site.mastodon_url}}">@{{ site.mastodon_username }}</a> {% endif %}
  {% if site.telegram_username and site.telegram_username != "" %} <img src="{{ '/assets/telegram_icon.png' | relative_url }}" width="16wv"> <a href="https://t.me/{{site.telegram_username}}">@{{ site.telegram_username }}</a> {% endif %}

</footer>
